{% extends 'base.html' %}
{% load static %}
{% block content %}

    <section class="hero-wrap hero-wrap-2" style="background-image: url({% static 'images/bg_3.jpg'%});" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-end">
          <div class="col-md-9 ftco-animate pb-5">
          	<p class="breadcrumbs mb-2"><span class="mr-2"><a href="{% url 'index' %}">Домашняя <i class="ion-ios-arrow-forward"></i></a></span> <span>Связаться с нами <i class="ion-ios-arrow-forward"></i></span></p>
            <h1 class="mb-0 bread">Связаться с нами</h1>
          </div>
        </div>
      </div>
    </section>

    <section class="ftco-section">
    	<div class="container">
    		<div class="row justify-content-center">
				<div class="col-md-12">
					<div class="wrapper" id="sended_form">
						<div class="row no-gutters mb-5 no-gutters align-items-center justify-content-center">
							<div class="col-md-7 ">
								<div class="contact-wrap w-100 p-md-5 p-4">
									<h3 class="mb-4">Связаться с нами</h3>
									<div id="form-message-warning" class="mb-4"></div>
					      			<div id="form-message-success" class="mb-4">
										{% for message in messages %}
											{{ message }}
										{% endfor %}
									</div>
									<form method="POST" id="contactForm" name="contactForm" class="contactForm">
										{% csrf_token %}
										<div class="row">
											<div class="col-md-6">
												<div class="form-group">
													<label class="label" for="name">Полное имя</label>
													{{ form.name }}
												</div>
											</div>
											<div class="col-md-6">
												<div class="form-group">
													<label class="label" for="email">Email Адрес</label>
													{{ form.email }}
												</div>
											</div>

											<div class="col-md-12">
												<div class="form-group">
													<label class="label" for="subject">Тема</label>
													{{ form.subject }}
												</div>
											</div>
											<div class="col-md-12">
												<div class="form-group">
													<label class="label" for="#">Сообщение</label>
													{{ form.message }}
												</div>
											</div>
											<div class="col-md-12">
												<div class="form-group">
													<input type="submit" value="Отправить" class="btn btn-primary">
													<div class="submitting"></div>
												</div>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
						<div class="row justify-content-center">
							{% for contact_badge in contact_badges_list %}
							<div class="col-md-3">
								<div class="dbox text-center">
									<div class="icon d-flex align-items-center justify-content-center">
										<img src="{{ contact_badge.photo.url }}" alt="{{ contact_badge.title }}"
											 height="120px" width="120px"
											 style="border-radius: 100%">
									</div>
									<div class="text">
										<p><span>{{ contact_badge.title }}: </span>{{ contact_badge.description }}</p>
									</div>
								</div>
							</div>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</div>
    </section>


{% endblock %}